# Docker ignore file for backend
node_modules
npm-debug.log
.env
.env.local
.env.*.local
dist
.git
.gitignore
README.md
.gitattributes
.mocharc.json
.eslintignore
eslintrc.json
.prettierignore
prettierrc.json
logs
*.log
.vscode
.idea
.DS_Store
